.quickView {
  position: fixed;
  z-index: 2;
  background-color: #111;
  border-radius: 10px;
  height: calc(100vh - 60px);
  top: 60px;
  margin: 0 2%;
  overflow-y: scroll;
  display: none;
  &.open {
    display: block;
  }
  &__banner {
    padding-top: 50vh;
    height: 50vh;
  }
  &__content {
    padding: 3rem;
    font-size: 1.2rem;
  }
  &__overlay {
    position: fixed;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    &.open {
      display: block;
    }
  }
  &__close {
    position: absolute;
    cursor: pointer;
    z-index: 100;
    top: 10px;
    right: 10px;
    background: none;
    color: #fff;
  }
  &__play {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 9rem;
    height: 2.8rem;
    margin-left: 50%;
    transform: translate(-50%, -30%);
    // padding: 0.4rem 1rem 0.4rem 0.5rem;
    margin-right: 0.7rem;
    color: inherit;
    font-size: 1.2rem;
    font-weight: 600;
    background: #fe1200;
    border-radius: 10px;
    cursor: pointer;
    svg {
      font-size: 2rem;
    }
  }
  @media screen and (min-width: 768px) {
    width: 50%;
    left: 25%;
    right: 25%;
  }
}
